<p-panel header="ICS Defect Details">
    <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
</p-panel>
<div class="mt-3 mb-3">
<p-image 
    src="https://tse2.mm.bing.net/th/id/OIP.2-1nyMV0uS5OJ3UfWi1CqgAAAA?pid=ImgDet&rs=1" 
    alt="Defect Image" 
    width="250" 
    preview="true">
</p-image>
</div>
<p-accordion [multiple]="true">
    <p-accordionTab header="Tracking">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Electrical Defects">
        <p-skeleton height="10rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Details">
        <p-skeleton height="15rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Process Info">
        <p-skeleton height="20rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Tools">
        <p-skeleton height="10rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Abnormality Analysis">
        <p-skeleton height="25rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Root Causes">
        <p-skeleton height="30rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Containment">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Permanent Countermeasures">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Re-Open Comments">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
    <p-accordionTab header="Close Comments">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-accordionTab>
</p-accordion>
<button pButton type="button" label="Save" class="mt-3 mr-3"></button>
<button pButton type="button" label="Submit..." class="mt-3" disabled="true"></button>
